
html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

::-moz-selection {
    color: rgb(25, 196, 196);
}

::selection {
    color: rgb(25, 196, 196);
}

body {
    background-color: rgb(32, 30, 30);
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Top h3 {
    color: white;
    margin: 50px 30px 0;
}

header ul {
    position: fixed;
    width: 100%;      
    background-color:transparent;
    z-index: 1000;
    display: flex;
    color: white;
    list-style: none;
    font-style: italic;
    justify-content: space-evenly;
    margin-top: -45px;
    transition: opacity 0.3s ease;
}

.lists header ul a {
    text-decoration: none;
    color: white;
}

header ul a:hover {
    color: rgb(221, 213, 213);
    text-shadow: 2px 1px 2px rgba(200, 179, 179, 0.992);
}

.info h1 {
    color: white;
    margin-top: 300px;
    text-align: center;
    font-size: 50px;
}

.info p {
    color: white;
    text-align: center;
    font-size: medium;
}
.button{
    text-decoration: none;
    text-align: center;
}
#butt {
    display: inline-block;
    color: rgb(11, 0, 0);
    font-size: medium;
    border-radius: 9px;
    padding: 15px 30px;
    cursor: pointer; 
    margin: 30px auto;
}
#butt:hover{
    background-color:rgb(32, 30, 30);
    color: whitesmoke;
}

video {
    display: block;
    width: 100%; 
    max-width: 580px; 
    margin: 0 auto; 
    border: 1px solid bisque;
    border-radius: 10px;
}
.who h1{
    text-align: center;
    margin-top: 180px;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}
.who p{
    text-align: center;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    opacity: 60%;
}
.who #port{
    text-align: center;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    opacity: 30%;
}
.images #img1{
    border: 3px solid rgb(222, 129, 16);
    border-radius: 12px;
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 150px;
    margin-top: 20px;
}
.images #img2{
    border: 3px solid rgb(222, 129, 16);
    border-radius: 12px;
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.images #img3{
    border: 3px solid bisque;
    border-radius: 12px;
    width:50%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.images #img4{
    border: 3px solid bisque;
    border-radius: 12px;
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}
.images{
   text-align: center;
}
#link1 #img1 {
    width: 50%; 
    transition: width 0.3s ease; 
}
#link1:hover #img1 {
    width: 70%; 
}

#link2 #img2 {
    width: 50%; 
    transition: width 0.3s ease; 
}
#link2:hover #img2 {
    width: 70%; 
}

#link3 #img3 {
    width: 50%; 
    transition: width 0.3s ease; 
}
#link3:hover #img3 {
    width: 70%; 
}

#link4 #img4 {
    width: 50%;
    transition: width 0.3s ease;
}
#link4:hover #img4 {
    width: 70%; 
}
.services h1{
    text-align: center;
    margin-top: 170px;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}
.services p{
    text-align: center;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    opacity: 60%;
}
.simages {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Small gap between items */
    justify-content: center;
}

.image-container {
    border: 3px solid rgb(93, 83, 83);
    border-radius: 12px;
    width: calc(30% - 10px); /* Adjust width for small gap */
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(69, 79, 85);
    text-align: center;
}

.image-container img {
    width: 80%;
    height: auto;
    border-radius: 12px;
}

.image-container p.description {
    margin-top: 10px;
    font-size: 12.5px;
    color: #ffffff;
}

#s1:hover{
    width: 35%;
    transition: width 0.3s ease;
}
#s2:hover{
    width: 35%;
    transition: width 0.3s ease;
}
#s3:hover{
    width: 35%;
    transition: width 0.3s ease;
}
#s4:hover{
    width: 35%;
    transition: width 0.3s ease;
}
.image-container:hover p {
    font-size: 14px;
    transition: width 0.3s ease;
}

#s3, #s4 {
    border-color: rgb(93, 83, 83);
}


@media (max-width: 768px) {
    .info h1 {
        margin-top: 100px;
        font-size: 35px;
    }
    .Top {
        display: none;

    }

    header ul {
        display: flex;
        color: white;
        list-style: none;
        font-style: italic;
        justify-content: space-evenly;
        margin-top: 95px;
    }
}

@media (max-width: 480px) {
    .info h1 {
        margin-top: 70px;
        font-size: 30px;
    }
    .Top {
        display: none;
        
    }


    video {
        width: 100%; 
        height: auto;
    }
    header ul {
        display: flex;
        color: white;
        list-style: none;
        font-style: italic;
        justify-content: space-evenly;
        margin-top: 95px;
    }
}
@media (max-width: 1024px) {
    
    .Top h3 {
        color: white;
        margin: 50px 30px 0;
    }
    .Top h1{
        margin-top: 0 auto;
    }
    .info h1 {
        color: white;
        text-align: center;
        font-size: 30px;
        margin-top: 150px;
    }
    .Top {
        display: none;
    }
    header ul{
       margin-left: -25px;
    }
    .who{
        margin: 0 auto;
    }
    .who #img1{
        display: flex;
        border: 3px solid rgb(222, 129, 16);
        border-radius: 12px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        
    }
    .who #img2{
        display: flex;
        border: 3px solid rgb(222, 129, 16);
        border-radius: 12px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        
    }
    
    .who #img3{
        display: flex;
        border: 3px solid bisque;
        border-radius: 12px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    
    .who #img4{
        display: flex;
        border: 3px solid bisque;
        border-radius: 12px;
        width:100%;
        height: auto;
        margin: 0 auto;
    }
    #link1 #img1 {
        width: 90%; 
        transition: width 0.3s ease; 
    }
    #link2 #img2 {
        width: 90%; 
        transition: width 0.3s ease; 
    }
    #link3 #img3 {
        width: 90%; 
        transition: width 0.3s ease; 
    }
    #link4 #img4 {
        width: 90%; 
        transition: width 0.3s ease; 
    }
    #link1:hover #img1 {
        width: 100%; 
    }
    #link2:hover #img2 {
        width: 100%; 
    }
    #link3:hover #img3 {
        width: 100%; 
    }
    #link4:hover #img4 {
        width: 100%; 
    }
    .image-container:hover p {
        font-size: 11px;
        transition: width 0.3s ease;
    }
    video {
        display: block;
        width: 80%; 
        max-width: 580px; 
        margin: 0 auto; 
        border: 1px solid bisque;
        border-radius: 10px;
    }
    .services h1{
        text-align: center;
        margin-top: 20px;
        color: white;
        font-family: "Lucida Console", "Courier New", monospace;
    }
#s1:hover{
    width: 90%;
    transition: width 0.3s ease;
}
#s2:hover{
    width: 90%;
    transition: width 0.3s ease;
}
#s3:hover{
    width: 90%;
    transition: width 0.3s ease;
}
#s4:hover{
    width: 90%;
    transition: width 0.3s ease;
}
.simages {
    display: block;
    gap: 10px; /* Small gap between items */
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.image-container {
    border: 3px solid rgb(93, 83, 83);
    border-radius: 12px;
    width: 85%; /* Adjust width for small gap */
    padding: 10px;
    background-color: rgb(69, 79, 85);
    text-align: center;
    margin-bottom: 10px;
    margin-left: 30px;
}

.image-container img {
    width: 80%;
    height: auto;
    border-radius: 12px;
}

.image-container p.description {
    margin-top: 10px;
    font-size: 12.5px;
    color: #ffffff;
}

}
