
html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

::-moz-selection {
    color: rgb(25, 196, 196);
}

::selection {
    color: rgb(25, 196, 196);
}

body {
    background-color: rgb(32, 30, 30);
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Top h3 {
    color: white;
    margin: 50px 30px 0;
}

header ul {
    position: fixed;
    width: 100%;      
    background-color: transparent;
    z-index: 1000;
    display: flex;
    color: white;
    list-style: none;
    font-style: italic;
    justify-content: space-evenly;
    margin-top: -45px;
    transition: opacity 0.3s ease;
}

header ul a {
    text-decoration: none;
    color: white;
}

header ul a:hover {
    color: rgb(22, 209, 230);
    text-shadow: 2px 1px 2px rgba(200, 179, 179, 0.992);
}

.info h1 {
    color: white;
    margin-top: 300px;
    text-align: center;
    font-size: 50px;
}

.info p {
    color: white;
    text-align: center;
    font-size: medium;
}
.button{
    text-decoration: none;
    text-align: center;
}
#butt {
    display: inline-block;
    color: rgb(11, 0, 0);
    font-size: medium;
    border-radius: 9px;
    padding: 15px 30px;
    cursor: pointer; 
    margin: 30px auto;
}
#butt:hover{
    background-color:rgb(32, 30, 30);
    color: whitesmoke;
}

video {
    display: block;
    width: 100%; 
    max-width: 580px; 
    margin: 0 auto; 
    border: 1px solid bisque;
    border-radius: 10px;
}
.who h1{
    text-align: center;
    margin-top: 350px;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}
.who p{
    text-align: center;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    opacity: 60%;
}
.who #port{
    text-align: center;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    opacity: 30%;
}
.images #img1{
    border: 3px solid rgb(222, 129, 16);
    border-radius: 12px;
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 150px;
    margin-top: 20px;
}
.images #img2{
    border: 3px solid rgb(222, 129, 16);
    border-radius: 12px;
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.images #img3{
    border: 3px solid bisque;
    border-radius: 12px;
    width:50%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.images #img4{
    border: 3px solid bisque;
    border-radius: 12px;
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}
.images{
   text-align: center;
}
#link1 #img1 {
    width: 50%; 
    transition: width 0.3s ease; 
}
#link1:hover #img1 {
    width: 70%; 
}

#link2 #img2 {
    width: 50%; 
    transition: width 0.3s ease; 
}
#link2:hover #img2 {
    width: 70%; 
}

#link3 #img3 {
    width: 50%; 
    transition: width 0.3s ease; 
}
#link3:hover #img3 {
    width: 70%; 
}

#link4 #img4 {
    width: 50%;
    transition: width 0.3s ease;
}
#link4:hover #img4 {
    width: 70%; 
}

@media (max-width: 768px) {
    .info h1 {
        margin-top: 100px;
        font-size: 35px;
    }
    .Top {
        display: none;

    }

    header ul {
        display: flex;
        color: white;
        list-style: none;
        font-style: italic;
        justify-content: space-evenly;
        margin-top: 95px;
    }
}

@media (max-width: 480px) {
    .info h1 {
        margin-top: 70px;
        font-size: 30px;
    }
    .Top {
        display: none;
        
    }


    video {
        width: 100%; 
        height: auto;
    }
    header ul {
        display: flex;
        color: white;
        list-style: none;
        font-style: italic;
        justify-content: space-evenly;
        margin-top: 95px;
    }
}
@media (max-width: 1024px) {
    

    .Top h1{
        margin-top: 0 auto;
    }
    .Top {
        display: none;
    }
    header ul{
        margin-top: 55px;
       margin-left: -25px;
    }
    .who #img1{
        display: flex;
        border: 3px solid rgb(222, 129, 16);
        border-radius: 12px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-top: 150px;
        
    }
    .who #img2{
        display: flex;
        border: 3px solid rgb(222, 129, 16);
        border-radius: 12px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        
    }
    
    .who #img3{
        display: flex;
        border: 3px solid bisque;
        border-radius: 12px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    
    .who #img4{
        display: flex;
        border: 3px solid bisque;
        border-radius: 12px;
        width:100%;
        height: auto;
        margin: 0 auto;
    }
}
